[build]
  command = "yarn install && yarn build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  YARN_ENABLE_IMMUTABLE_INSTALLS = "false"
